@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Ejemplo h1</h1>
<h2>Ejemplo h2</h2>
<h3>Ejemplo h3</h3>
<h4>Ejemplo h4</h4>
<b>ejemplo texto negrita......</b><br />
<a href="https://www.infobae.com.ar">Ir al diario...</a>
<ul>
    <li>Uno</li>
    <li>Dos</li>
    <li>Tres</li>
</ul>
<table>
    <tr> <!-- Esto es un comentario.....ESTO ES UNA FILA!!!! -->
        <th>Col1</th> 
        <th>Col2</th>
        <th>Col3</th>
    </tr>
    <tr><td>Texto1</td><td>Texto2</td><td>Texto3</td></tr>
    <tr><td>Texto1</td><td>Texto2</td><td>Texto3</td></tr>
</table>
<input type="text" value="Ejemplo de campo de texto" />
<input type="number" value="0" />
<input type="password" value="no se ve nada...." />
<select>
    <option>Ejemplo 1</option>
    <option selected>Ejemplo 2</option>
    <option>Ejemplo 3</option>
</select><br />
Soy un check!!! <input type="checkbox"/><br />
Soy un radio <input type="radio" name="mismoradio" />
<input type="radio" name="mismoradio" checked/>
<input type="radio" name="mismoradio" />
<textarea cols="10" rows="5">Texto muy largo de muchas lineas....</textarea>
